*.bak
*.elc
.lsp-session*
.python-environments
anaconda-mode
chatgpt-shell
docsets/
eln-cache/
elpa/
projectile-bookmarks.eld
straight/build
straight/build-cache.el
straight/repos
theme-dark
theme-light
tramp
transient/history.el
